# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Environnements virtuels ---
.venv/
venv/
env/
ENV/

# --- PyInstaller ---
# On ignore les dossiers générés par la compilation
build/
dist/*
!dist/BlueFrontline.exe
*.egg-info/
*.manifest
*.spec

# --- Logs / temp ---
*.log
*.tmp
*.bak

# --- Autres ---
.DS_Store
Thumbs.db

# --- Achivements --- 
blue_frontline/data/
# --- Exceptions ---
!BlueFrontline.spec