# ==============================================
# ./requirements-dev.txt - (pour générer l'exe)
# cd blue_frontline 
# pyinstaller BlueFrontline.spec
# ==============================================
pyinstaller==6.3.0
ruff== 0.14.6
pre-commit==4.5.0