# ==============================================
# ./requirements-dev.txt - (pour générer l'exe)
# cd blue_frontline 
# pyinstaller BlueFrontline.spec
# ==============================================
pyinstaller==6.3.0