# ============================================
# ./requirements.txt - (pour l'exe)
# ============================================
pygame==2.5.2
pytmx==3.32
pyscroll==2.30.0
perlin-noise==1.12
shapely==2.0.2